.portfolioH1 {
    font-family: verdana;
    font-size: 30px;
    color: lightblue;
    margin-left: 1rem;
    font-weight: bold;
}

.aboutMeH1 {
    font-family: verdana;
    font-size: 30px;
    color: lightblue;
    font-weight: bold;
    margin-left: 0rem;
}

.imgPortfolio {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.footerCopyR {
    font-size: smaller;
    left: 0;
    bottom: 0;
    padding: 2%;
    width: 100%;
    border-color: blue;
}